body{
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
    display: inline;
}
a{
    text-decoration: none;
    color: goldenrod;
}
a:active {
    background-color: black ;
    color: goldenrod;
    border: 2px solid goldenrod;
    border-radius: 20px;
    padding: 9px;
}
.logohead {
    margin: 15px;
}
.logo{
    
    border-radius: 30px;
}
.head {
    /* font-family: 'Caveat', cursive;
font-family: 'Caveat Brush', cursive;
font-family: 'Combo', cursive;
font-family: 'Qwigley', cursive; */
font-family: 'Qwitcher Grypen', cursive;
    padding-left: 10px;
}
.lit{
    color: goldenrod;
}
.jewelrysec img {
    width: 250px 100px;
}
.navwhole{
    margin-top: 5px;
    max-width: 100%;
    background-color: rgba(218, 165, 32, 0.268);
    padding-bottom: 20px;
    border-radius: 10px;
}
.navlist, li{
    text-align: right;
    margin-right: 10px;
    padding-right: 10px;
    
}