body {
  margin: 0;
  padding: 0;
  background: linear-gradient(174.6deg, rgb(253, 240, 233) 2.2%, rgb(255, 194, 203) 56.2%);
}
ul,
li {
  list-style: none;
  display: inline;
}
a {
  text-decoration: none;
  /* color: #f98171; */
  color: black;
  font-size: larger;
  font-family: 'Caveat Brush', cursive;
}
/* #navwhole a:active {
  background-color: #C8A2C8;
  color: purple;
  border: 2px solid #f98171;
  border-radius: 20px;
  padding: 9px;
} */
.logohead {
  margin: 15px;
}
.logo {
  border: 1px solid #f98171;
  border-radius: 30px;
}
.head {
font-family: 'Caveat', cursive;
/* font-family: 'Caveat Brush', cursive;
font-family: 'Combo', cursive;
font-family: 'Qwigley', cursive; 
font-family: "Qwitcher Grypen", cursive; */
  padding-left: 10px;
}
.lit {
  color: #f98171;
}
.crochetsec img {
  width: 250px 100px;
}
#navwhole {
  margin-top: 5px;
  max-width: 100%;
  background-color: #f7d3cd;
  padding-bottom: 20px;
  border-radius: 10px;
  border-bottom: 20px solid #ffc7ba;
  border-top: 10px solid #ffc7ba;
}
.producticon {
  display: block;
  margin: 0 auto;
  width: 50px;
  padding: 5px;
  border: 2px solid #f98171;
  border-radius: 50%;
}
.productbtns{
  margin-top: 5px;
  border-radius: 10px;
  background-color: #fcede6;
}
.productbtn{
  font-size: 12px;
  display: block;
  margin: 0px auto;
  color: black;
}
.navlist,
li {
  text-align: right;
  margin-right: 10px;
  padding-right: 10px;
}
.nextimage {
    width: 100%;
}

.terms{
  padding-bottom: 10px;
  background-color: white;
  border-radius: 10px;
}
.termspic{
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  width: 100px;
  background-color: white;
}
.card-body a {
  border: none;
  background: linear-gradient(to right, #ff758c 20%, #ff7eb3 80%);
  padding: 10px;
  color: #fcede6;
}
.subpara {
  color: rgb(92, 92, 92);
  font-family: 'Combo', cursive;
  font-size: larger;
}
.spec{
  text-align: center;
  padding: 10px;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  background: linear-gradient(to right, #c471f5 0%, #fa71cd 100%);

}
.wear {
  text-align: center;
  padding: 10px;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  background: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.wears {
  text-align: center;
  padding: 10px;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  background: linear-gradient(to bottom, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.crochetsec h5 {
    font-family: 'Combo', cursive;
    font-size: 400;
}
.special{
  background: linear-gradient(to left, #c471f5 0%, #fa71cd 100%);
}
.tops {
  background: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.croptop {
  background: linear-gradient(to bottom, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.skirts {
  background: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.romper {
  background: linear-gradient(to bottom, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.shorts {
  background: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.vests {
  background: linear-gradient(to bottom, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.swinwear {
  background: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.beanies{
  background: linear-gradient(to bottom, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.goods {
  padding: 20px;
  margin-top: 5px;
  border-radius: 10px;
}
.subscript {
    color: black;
    padding-top:10px ;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@media (max-width:750px) {
    .allcard {
        margin: 0 auto;
        padding-left: 35px;
        padding-top: 10px;
    }
    
}
@media (max-width:1200px) {
  .card-body a {
       font-size: smaller; 
    }
}