body {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
  display: inline;
}
a {
  text-decoration: none;
  color: goldenrod;
  font-size: larger;
  font-family: "Caveat Brush", cursive;
}
.navwhole a:active {
  background-color: black;
  color: goldenrod;
  border: 2px solid goldenrod;
  border-radius: 20px;
  padding: 5px;
}
.logohead {
  margin: 15px;
}
.logo {
  border-radius: 30px;
}
.head {
  /* font-family: 'Caveat', cursive;
font-family: 'Caveat Brush', cursive;
font-family: 'Combo', cursive;*/
  font-family: "Qwigley", cursive;
  /* font-family: "Qwitcher Grypen", cursive; */
  padding-left: 10px;
}
.lit {
  color: goldenrod;
}
.jewelrysec img {
  width: 250px 100px;
}
.navwhole {
  margin-top: 5px;
  max-width: 100%;
  background-color: rgba(218, 165, 32, 0.268);
  padding-bottom: 20px;
  border-radius: 10px;
}
.navlist,
li {
  text-align: right;
  margin-right: 10px;
  padding-right: 10px;
}
.nextimage {
  width: 100%;
}
.terms{
  padding-bottom: 10px;
}
.subpara {
  color: gray;
  font-family: "Caveat", cursive;
}
.jewel {
  text-align: center;
  padding: 10px;
  color: goldenrod;
  border: 2px solid goldenrod;
  border-radius: 10px;
}
.jewels {
  text-align: center;
  padding: 10px;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
}
.jewelrysec h5 {
  font-family: "Combo", cursive;
  font-size: 400;
}
.necklaces {
  background-color: black;
}
.bracelets {
  background-color: goldenrod;
}
.rings {
  background-color: black;
}
.others {
  background-color: goldenrod;
}
.goods {
  padding: 20px;
  border-radius: 10px;
}
.subscript {
  color: white;
  padding-top: 10px;
}
@media (max-width: 750px) {
  .allcard {
    margin: 0 auto;
    padding-left: 35px;
    padding-top: 10px;
  }
}
